@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sofia&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

/*========================================================= Scroll bar =========================================================*/

::-webkit-scrollbar {
    width: 12px; 
  }

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background: #3f60a2; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #798eb9; 
}

/*========================================================= Body =========================================================*/

body{
    height: auto;
    overflow-x: hidden;
    background-color: #FFF;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

.home_container, .about_container , .services_container, .wbu_container, .reviews_container{
    /*background-color: rgba(0, 0, 0, 0.1);*/
    padding: 50px;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    text-align: center;
    display: block;
    z-index: 10;
    max-width: 90%;
    margin:  0 auto;
}

.contact_container{
    /*background-color: rgba(0, 0, 0, 0.1);*/
    padding: 50px;
    min-height: 80vh;
    justify-content:center;
    align-items: center;
    text-align: center;
    display: block;
    z-index: 10;
    max-width: 90%;
    margin:  0 auto;
}

.headers{
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #344871;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    width: fit-content;
    padding: 10px;
    border: 10px double #344871;
    background-image: linear-gradient(360deg,white, #75a2fd);
    font-style: italic;
}

.swan1{
    top: 50px;
    left: 10px;
    position: fixed;
    z-index: -1; 
}
.swan3{
    bottom: 0px;
    right: 0px;
    position: fixed;
    z-index: -10; 
}
.swan1 img{
    opacity: 0.3;
    height: 70px;
}

.swan3 img{
    opacity: 0.3;
    height: 400px;
}

/*===================================================== Navigation Bar =====================================================*/

.menubar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    text-align: right;
    transition: top 0.3s;
    display: block;
    background-color: #75a2fd;
    z-index: 999;
}

.menubar li, .menubar a{
    display:inline;
    color: white;
    padding: 10px;
}

.menubar li a:hover {
    background-color: white;
    color: black;
    transition:0.3s ease;
    border-radius: 15px;
}

#thecraftedone{
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight:bolder;
    display: flex;
    flex-direction: row;
}

#thecraftedone img, #thecraftedone p{
    padding-left: 10px;
}

/*===================================================== Home ===========================================================================*/

.home_container{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

.welcome_text1{
    text-align: left;
    max-width: 550px;
    color: rgb(55, 56, 57);
    font-weight: bold;
    font-size: x-large;
}

.welcome_text2{
    margin-top: 25px;
    text-align: left;
    width: 550px;
    color: rgb(55, 56, 57);
    font-size: large;
}

/* ---------------------------------------------------------------- */

.paper_clip_1{
    height: 30px;
    margin-left: 25px;
    width: 30px;
    border: 5px solid #344871;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0;
}
.paper_clip_2{
    position: absolute;
    height: 50px;
    width: 25px;
    margin-top: 20px;
    margin-right: 5px;
    border: 5px solid #344871;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0;
}

.profile_photo1{
    background-color: white;
    height: 350px;
    width: 300px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 2px 2px 5px black;
}

.profile_photo1 img{
    background-color: black;
    height: 250px;
    width: 260px;
}

.profile_content1 {
    position: relative;
    rotate: 5deg;
    z-index: 2;
}

/* ---------------------------------------------------------------*/

.welcome_text3 img{
    margin-top: 20px;
    height: 35px;
    width:fit-content;
    animation: showtext 3s ease;
}

@keyframes showtext {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

/*===================================================== About ===========================================================================*/

.abt_me{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

.abt_me_1{
    align-content: center;
    height: 420px;
    width: 500px;
    border-radius: 30px;
    font-size: medium;
    background-color: #75a2fd59;
    border: 10px double #3f60a2;
    padding: 20px;
    text-align: left;
    overflow-y: auto;
}

.abt_me_2{
    align-content: center;
    height: 420px;
    width: 500px;
    border-radius: 30px;
    font-size: medium;
    padding: 20px;
    text-align: left;
    overflow-y: auto;
    background-color: white;
    box-shadow: grey 3px 3px 15px;

}

/*===================================================== wbu ===========================================================================*/

.problems{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 50px;
}

.problem_flask{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prob_photo_0 {
    position: absolute; 
    width: 120px;
    border: 5px solid black;
}

.slide-in3 {
    animation: drop 1s forwards; 
}

@keyframes drop {
    0% {
        transform: translate(50px, -50px) rotate(13deg);
    }
    100% {
        transform: translate(50px, 15px) rotate(13deg);
    }
}

.prob_photo_1{
    height: 400px;
}

.problems ul{
    text-align: left;
    font-size: large;
    width: 400px;
    color: rgb(55, 56, 57);
    list-style-type: square;
    line-height: 1.8;
}


/*===================================================== Services ===========================================================================*/

  .wrapper {
    width: 100%;
    position: relative;
    margin-top: 150px;  
    
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 340px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .card{
    background:linear-gradient(135deg, #F7CCA7,rgb(187, 219, 252));
  }
  .card .img img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    border: 4px solid #ffffff;
  }
  .carousel .card h2 {
    font-weight: 900;
    color: rgb(0, 66, 135);
    font-size: larger;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: black;
    font-weight: bold;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 1200px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  
  /*-----------------------------------------------card inside-------------------*/
  
  .card .video-container {
    display: none;
    padding: 20px;
  }
  .card .img,.card h2,.card span{
    animation: slideInFromTop 1s ease;
  }
  .card:hover .video-container {
    display:inline-block;
    animation: slideInFromTop 1s ease;
  }
  @keyframes slideInFromTop {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .card:hover .img, .card:hover h2 {
    display: none;
  }

  .card .video-container .about_the_work{
    text-align: left;
    overflow-y: auto;
    font-size: medium;
    max-height: 300px;
    max-width: 300px;
  }

    .about_the_work::-webkit-scrollbar {
    width: 6px;
   }

    .about_the_work::-webkit-scrollbar-track {
        background-color: #E0D2BB;
    }

    .about_the_work::-webkit-scrollbar-thumb {
        background: #B49E81; 
        border-radius: 6px; 
    }

    .about_the_work::-webkit-scrollbar-thumb:hover {
        background: #ffffff; 
    }

  .card .video-container .try_button{
    color:black;
    font-weight: bold;
    background-color: white;
    margin-top: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
  }
  .card .video-container .try_button:hover{
    color:white;
    background-color: black;
    transition: 0.5s ease-in-out;
  }
  .card .video-container .try_button:hover .button{
    color:white;
    border: 1px white;
  }

/*===================================================== reviews ===========================================================================*/

.reviews_container_2 {
    column-count: 2;
    column-gap: 20px;
    padding: 0px 100px 0px 100px;
    margin-top: 120px;
}

.review_person{
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    gap: 25px;
    margin-bottom: 30px;
}

.review_person_name{
    font-size: medium;
    justify-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    align-items: center;
    border-radius: 30px;
}

.review_person_name b{
    font-size: medium;
    justify-items: center;
}

.review_person_name img{
    padding: 5px;
    border: 5px dashed #798eb9;
}

.rp_circle{
    border: 5px solid white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.rp_text{
    border-radius: 30px;
    width: 100%;
    font-size: medium;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: white;
    box-shadow: grey 3px 3px 15px;
}

.rp_text p{
    padding: 20px;
    text-align: left;
    overflow-y: auto;
}

.rp_text::-webkit-scrollbar {
    width: 5px;
  }

.rp_text::-webkit-scrollbar-track {
    visibility: hidden;
}

.rp_text::-webkit-scrollbar-thumb {
    background: #836df4; 
    border-radius: 6px; 
}

.rp_text::-webkit-scrollbar-thumb:hover {
    background: #5149f3; 
}

/* .rp_text:hover{
    transform: translateY(-5px);
} */

/*===================================================== contact ===========================================================================*/

.letsconnect{
    color: #75a2fd;
    font-size: x-large;
    font-style: italic;
}

.my_email{
    padding: 10px;
    font-size: small;
}

.contact-form-div{
    display: flex;
    flex-direction:unset;
    position: relative;
    justify-content: space-around;
  }

.contact-form {
    border-collapse: separate;
    border-spacing: 20px; 
}

input,textarea{
    border-radius: 30px;
    border: 0px;
    padding-left:20px ;
    height: 40px;
    font-size: medium;
    font-weight: 900;
    width: 400px;
    background-color: rgb(111, 162, 251, 0.4);
    color: black;
}

#name{
    background-color: rgb(111, 162, 251, 1);
}

#email{
    background-color: rgb(111, 162, 251, 0.8);
}

#subject{
    background-color: rgb(111, 162, 251, 0.6);
}

textarea{
    height:150px;
    padding-top: 10px;
}

input::placeholder, textarea::placeholder {
    color: rgb(24, 38, 53, 0.4);
    font-style: italic;
}

.btn-md{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: large;
    font-weight: 900;
    border: none;
    color: white;
    background-color: #344871;
}

.btn-md:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: 0.5s ease;
}

.logos{
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 30px;
    background-color: #344871;
    margin-bottom: 0;
    width: 100%;
}

.logos li{
    padding-left: 10px;
    padding-right: 10px;
}

.logos li a i{
    width:30px;
    transition: ease;
    color: white;
    font-size: x-large;
}

.logos i:hover{
    width:30px;
    transition: ease;
    color: #75a2fd;
  }

.Srikanth_Name_2{
    font-size: large;
    color: white;
    margin-top: 2px;
    animation: nametransition 3s ease-in-out infinite;
}

.cpr{
    color: white;
    background-color: #344871;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

@keyframes nametransition {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    20% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    50% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
    }
    80% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
}

/*========================================================= All transition =============================================================*/

@keyframes BodyslideInFromTop {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
}
  
.slide-in {
    animation: BodyslideInFromTop 0.8s ease-in-out;
}

@keyframes bigzoom {
    from {
      transform: scale(0.5);
    }
    to {
    transform: scale(1);
    }
}
  
.slide-in2 {
    animation: bigzoom 0.8s ease-in-out;
}