
/*-----------------------------------------------------------------------Nav bar----------------------------------------------------------*/


#menuToggle {
    display: none;
}

#menuToggle:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    
}

#menulist{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 200px; 
    height:fit-content;
    text-align: center;
    list-style-type: none;
}

#menulist li {
    padding-bottom: 5px; 
}

@media only screen and (max-width: 900px) {
    #menuToggle, #Srikanth_Name{
        display: inline;
    }
    .menubar li {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    #menulist li , #menulist{
        display: none;
    }
}

/*-----------------------------------------------------------------------body----------------------------------------------------------*/
   
    @media only screen and (max-width: 500px){
        .headers{
            font-size: large;
        }
    }

    @media only screen and (max-width: 410px){
        .home_container, .about_container , .services_container, .wbu_container, .reviews_container{
            max-width: 95%;
        }
    }

    @media only screen and (max-width: 700px){
        .swan3 img{
            height: 200px;
        }
    }

/*-----------------------------------------------------------------------home----------------------------------------------------------*/

@media only screen and (max-width: 1400px){
    .welcome_text1{
        max-width: 400px;
        font-size: x-large;
    }
    .welcome_text2{
        max-width: 400px;
        font-size: medium;
    }

    .profile_photo1{
        background-color: white;
        height: 300px;
        width: 250px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: 2px 2px 5px black;
    }
    
    .profile_photo1 img{
        background-color: black;
        height: 200px;
        width: 210px;
    }

    .welcome_text3 img{
        margin-top: 20px;
        height: 30px;
        width:fit-content;
    }

    .profile_content2 img, .profile_content4 img,.profile_content5 img,.profile_content7 img{
        border: 10px solid white;
        height: 220px;
        width: 220px;
    }
    
    .profile_content3 img, .profile_content6 img{
        border: 10px solid white;
        height: 220px;
        width: 220px;
    }
    
}

@media only screen and (max-width: 1100px){
    .welcome_text2{
        margin-top: 20px;
        max-width: 300px;
        font-size: medium;
    }

    .home_container{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

}


@media only screen and (max-width: 700px){

    .profile_content1{
        margin-top: 50px;
    }

    .welcome_text1{
        margin-top: 50px;

    }

    .profile_photo1{
        background-color: white;
        height: 300px;
        width: 250px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: 2px 2px 5px black;
    }
    
    .profile_photo1 img{
        background-color: black;
        height: 200px;
        width: 210px;
    }

    .welcome_text3 img{
        margin-top: 20px;
        height: 30px;
        width:fit-content;
    }

    .profile_content2,.profile_content3,.profile_content4,.profile_content5,.profile_content6,.profile_content7{
        display: none;
    }
    
}

@media only screen and (max-width: 600px){

    .welcome_text2{
        margin-top: 20px;
        max-width: 300px;
        font-size: large;
    }
    
    
}

/*-----------------------------------------------------------------------about----------------------------------------------------------*/

@media only screen and (max-width: 1350px){

    .abt_me{
        flex-direction: column;
    }
    .abt_me_2{
        margin-top: 50px;
    }
    .problems{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px){

    .abt_me_1, .abt_me_2{
        font-size: medium;
        height: fit-content;
        width: 300px;
    }
}

@media only screen and (max-width: 700px){

    .problems{
        font-size: larger;
    }

    .problems li{
        margin-bottom: 10px;
    }
}

/*-----------------------------------------------------------------------wbu----------------------------------------------------------*/


@media only screen and (max-width: 1400px){

    .problems{
        margin-top: 100px;
    }
    .problems1{
        justify-content: center;
        display: grid;
        grid-auto-rows: minmax(300px, 300px);
        grid-template-columns: repeat(3, 0fr); 
        gap: 40px; 
    }
    
    .problems2{
        margin-top: 20px;
        justify-content: center;
        display: grid;
        grid-auto-rows: minmax(300px, 300px);
        grid-template-columns: repeat(2, 0fr); 
        gap: 40px; 
    }
    
    .prob_container{
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background-color: #edcda6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px double #F2E3CA;
    }

    .prob_img{
        height: 150px;
        width: 150px;
        border: 10px solid white;
        border-radius: 100%;
    }

    .prob_text{
        max-width: 230px;
        padding: 20px;
        font-size: small;
    }

}

@media only screen and (max-width: 1000px){

    .problems{
        margin-top: 100px;
        flex-direction: column-reverse;
    }
    .problems1{
        margin-top: 40px;
        justify-content: center;
        display: grid;
        grid-auto-rows: minmax(300px, 300px);
        grid-template-columns: repeat(2, 0fr); 
        gap: 40px; 
    }
    
    .problems2{
        justify-content: center;
        display: grid;
        grid-auto-rows: minmax(300px, 300px);
        grid-template-columns: repeat(2, 0fr); 
        gap: 40px; 
    }
    
    .prob_container{
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background-color: #edcda6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px double #F2E3CA;
    }

    .prob_img{
        height: 150px;
        width: 150px;
        border: 10px solid white;
        border-radius: 100%;
    }

    .prob_text{
        max-width: 230px;
        padding: 20px;
        font-size: small;
    }

}

@media only screen and (max-width: 700px){

    .problems{
        margin-top: 100px;
        flex-direction: column;
    }
    .problems1{
        
        justify-content: center;
        display: grid;
        grid-auto-rows: minmax(300px, 300px);
        grid-template-columns: repeat(1, 0fr); 
        gap: 40px; 
    }
    
    .problems2{
        margin-top: 40px;
        justify-content: center;
        display: grid;
        grid-auto-rows: minmax(300px, 300px);
        grid-template-columns: repeat(1, 0fr); 
        gap: 40px; 
    }
    
    .prob_container{
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background-color: #edcda6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px double #F2E3CA;
    }

    .prob_img{
        height: 150px;
        width: 150px;
        border: 10px solid white;
        border-radius: 100%;
    }

    .prob_text{
        max-width: 230px;
        padding: 20px;
        font-size: small;
    }

}

/*-----------------------------------------------------------------------Services----------------------------------------------------------*/

@media only screen and (max-width: 500px){

    .wrapper{
        margin-top: 150px;
    }

    .wrapper i:first-child{
        left: -50px;
    }
    .wrapper i:last-child{
        right: -50px;
    }

    .video-container iframe{
        width:130;
        height:80;
    }

    .card .video-container .about_the_work{
        font-size: small;
    }

    .try_button{
        margin-left: 30px;
    }
}

/*-----------------------------------------------------------------------reviews----------------------------------------------------------*/

@media only screen and (max-width: 1300px){
    .rp_text{
        font-size: small;
    }
}

@media only screen and (max-width: 1100px){
    .reviews_container_2 {
        display: grid;
        grid-auto-rows: minmax(230px, 230px);
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
        padding: 10px;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 800px){
    .rp_text{
        font-size: small;
    }
}

@media only screen and (max-width: 600px){
    .reviews_container_2 {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px; 
        padding: 10px;
        margin-top: 100px;
    }
    .rp_text{
        font-size: small;
    }

    .review_person{
        flex-direction: column;
        justify-items: center;
        height: 350px;
    }

    .review_person_name{
        width: auto;
    }
    
}


/*-----------------------------------------------------------------------contact----------------------------------------------------------*/

@media only screen and (max-width: 1020px){
    .form-group-title{
        width: 100px;
    }
    .contact-form input, .contact-form textarea{
        width: 400px;
    }
    .contact-form {
        border-spacing: 30px 20px; 
      }
}

@media only screen and (max-width: 900px){

    .contact-form input, .contact-form textarea{
        width: 350px;
    }
    .contact-form {
        border-spacing: 20px 20px; 
      }
}

@media only screen and (max-width: 770px){

    .contact-form input, .contact-form textarea{
        width: 300px;
    }
    .contact-form {
        border-spacing: 0px 20px; 
      }
}

@media only screen and (max-width: 690px){
    .contact-form-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        border-spacing: 0px 20px; 
      }

    .logos li a i{
        font-size: large;
    }

    .logos li{
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .Srikanth_Name_2{
        font-size: medium;
        animation: nametransition 3s ease-in-out infinite;
    }

}


